**/.*
node_modules
bower_components
npm-debug.log
coverage
satoriya/*.bat
satoriya/_
satoriya/httpc
satoriya/obu
satoriya/sodate
satoriya/sodate_setup
satoriya/satori/test
satoriya/satori/makefile.*
satoriya/satori/*.cpp
satoriya/satori/*.h
satoriya/satori/*.dep
satoriya/satori/*.dsp
satoriya/satori/*.dsw
satoriya/satori/*.sln
satoriya/satori/*.vcxproj
satoriya/satori/*.filters
satoriya/satori/*.rc
satoriya/satori/*.exe
satoriya/satori/*.o
satoriya/satori/*.rb
satoriya/satori/satori_savedata.txt
satoriya/satori/em-*.js
